################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/CMakeUserPresets.json
/out/build
/vc140.pdb
